<template name="presentationSlideImported">
    <div>
        <div class="btn-group pull-right">
            <button class="slide-up btn btn-default">
                <span class="glyphicon glyphicon-arrow-up"></span>
            </button>
            <button class="slide-down btn btn-default">
                <span class="glyphicon glyphicon-arrow-down"></span>
            </button>
            <button class="slide-del btn btn-danger">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
        
        <img class="img-responsive center-block" src="/media/static/{{imagepath}}">
    </div>
</template>
