<template name="presentationsMenu">
    <div class="container">
        <h3>Presentations</h3>
        
        <ul class="list-group">
            {{#each presentations}}
                <li class="list-group-item">
                    <h4><a href={{pathFor 'presentationSettings' _id}}>{{title}}</a></h4>
                </li>
            {{/each}}
        </ul>
        
        <button id="pres-add" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span>
            New Presentation
        </button>
    </div>
</template>
