<template name="presentationSettings">
    <div class="container">
        <button id="pres-settings-toggle" class="btn btn-default pull-right">
            <span class="glyphicon glyphicon-cog"></span>
        </button>
    
        <h3>{{title}}</h3>
        
        <div class="collapse">
            <div class="well">
                <label>Title:</label>
                <input id="pres-title" class="form-control" value={{title}}>            

                <hr>
                
                <button id="pres-del" class="btn btn-danger">
                    Delete
                </button>
            </div>
        </div>
        
        <ul class="list-group">
            {{#each slides}}
                <li class="list-group-item">
                    {{> presentationSlide}}
                </li>
            {{/each}}
        </ul>
        
        <button id="add-slide" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span>
            Add Slide
        </button>
    </div>
    
    <div class="image-modal modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Insert Image</h4>
                </div>
                
                <div class="modal-body">
                    {{> collectionSelector imageSelector}}
                </div>
                
                <div class="modal-footer">
                    <button class="modal-close btn btn-default">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>
