<template name="presentationSlide">
    <div class="editor-toolbar form-inline">
        <div class="btn-group">
            <button class="edit-span-btn btn btn-default" data-type="bold"><b>B</b></button>
            <button class="edit-span-btn btn btn-default" data-type="italic"><b><i>I</i></b></button>
            <button class="edit-span-btn btn btn-default" data-type="underline"><b><u>U</u></b></button>
        </div>

        <div class="btn-group">
            <button class="edit-line-btn btn btn-default" data-type="h1"><b>H</b></button>
            <button class="edit-line-btn btn btn-default" data-type="h2"><b>h</b></button>
            <button class="edit-line-btn btn btn-default" data-type="h3"><b><small>h</small></b></button>
        </div>
        
        <div class="btn-group">
            <button class="edit-line-btn btn btn-default" data-type="ol">
                <span class="glyphicon glyphicon-list"></span>
            </button>
            <button class="edit-line-btn btn btn-default" data-type="ul">
                <span class="glyphicon glyphicon-th-list"></span>
            </button>
        </div>
                        
        <button class="edit-span-btn btn btn-default" data-type="fillin">
            {{! Not the best icon for the job, but the only vaugely-related one in the set}}
            <span class="glyphicon glyphicon-sunglasses"></span>
        </button>
        
        <button class="image-add btn btn-default">
            <span class="glyphicon glyphicon-picture"></span>
        </button>

        <div class="btn-group pull-right">
            <button class="slide-settings-toggle btn btn-default">
                <span class="glyphicon glyphicon-cog"></span>
            </button>
            <button class="slide-up btn btn-default">
                <span class="glyphicon glyphicon-arrow-up"></span>
            </button>
            <button class="slide-down btn btn-default">
                <span class="glyphicon glyphicon-arrow-down"></span>
            </button>
            <button class="slide-del btn btn-danger">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
    </div>

    <div class="slide-settings collapse">
        <div class="well">
            <h4>Slide Settings</h4>
            <label>Image Position</label>
            <select class="setting form-control" data-setting="presentations_image_side">
                <option value="left" {{isSelected 'presentations_image_side' 'left'}}>Left</option>
                <option value="right" {{isSelected 'presentations_image_side' 'right'}}>Right</option>
                <option value="top" {{isSelected 'presentations_image_side' 'top'}}>Top</option>
                <option value="bottom" {{isSelected 'presentations_image_side' 'bottom'}}>Bottom</option>
            </select>
            
            <label>Edit HTML</label>
            <textarea class="slide-html-editor form-control">
                {{content}}
            </textarea>
        </div>
    </div>

    <div class="editor-container"></div>

    {{#if images}}
        <ul class="list-group">
            {{#each images}}
                {{#with getImage}}
                    <li class="list-group-item">
                        <button class="image-del btn btn-danger pull-right">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        {{> mediaItem}}
                    </li>
                {{/with}}
            {{/each}}
        </ul>
    {{/if}}
</template>
