<template name="musicstand">
    <div class="container">
        <h3>{{title}}</h3>
        <button id="scroll-lock" class="btn btn-lg btn-default active pull-right">
            <span class="glyphicon glyphicon-resize-vertical"></span>
        </button>
        
        {{#each actions}}
            {{#if typeIs 'song'}}
                <div class="musicstand-action">
                    {{#with getSong}}
                        {{> musicstandchart}}
                    {{/with}}
                </div>
            {{else}}
                <div class="musicstand-action {{isActive}}">
                    {{> actionDisplay}}
                </div>
            {{/if}}
        {{/each}}
    </div>
</template>
