<template name="scheduleItem">
    <li class="list-group-item">
        <button class="remove-item btn btn-danger pull-right">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
        
        <label>Type:</label>
        <select class="scheduleitem-type form-control">
            <option value="daily" {{typeIsSelected 'daily'}}>Daily</option>
            <option value="daysofweek" {{typeIsSelected 'daysofweek'}}>Days of Week</option>
            <option value="daysofmonth" {{typeIsSelected 'daysofmonth'}}>Days of Month</option>
        </select>
        
        {{#if typeIs 'daysofweek'}}
            <div class="btn-group" role="group">
                <button class="scheduleitem-weekday btn btn-default {{weekdayIsActive 1}}"
                    data-toggle="button" data-day=1>Sun</button>
                <button class="scheduleitem-weekday btn btn-default {{weekdayIsActive 2}}"
                    data-toggle="button" data-day=2>Mon</button>
                <button class="scheduleitem-weekday btn btn-default {{weekdayIsActive 3}}"
                    data-toggle="button" data-day=3>Tue</button>
                <button class="scheduleitem-weekday btn btn-default {{weekdayIsActive 4}}"
                    data-toggle="button" data-day=4>Wed</button>
                <button class="scheduleitem-weekday btn btn-default {{weekdayIsActive 5}}"
                    data-toggle="button" data-day=5>Thu</button>
                <button class="scheduleitem-weekday btn btn-default {{weekdayIsActive 6}}"
                    data-toggle="button" data-day=6>Fri</button>
                <button class="scheduleitem-weekday btn btn-default {{weekdayIsActive 7}}"
                    data-toggle="button" data-day=7>Sat</button>
            </div>
        {{/if}}
        
        {{#if typeIs 'daysofmonth'}}
            <div class="btn-group" role="group">
                {{#each getMonthDays}}
                    <button class="scheduleitem-monthday btn btn-default {{monthdayIsActive this}}"
                        data-toggle="button" data-day={{this}}>{{this}}</button>
                {{/each}}
            </div>
        {{/if}}
        
        <p><b>Time:</b></p>
        <div class="scheduleitem-time"></div>
    </li>
</template>
