.light-slider-container-red .slider-selection {
    background: rgb(200,0,0);
}

.light-slider-container-red .slider-handle {
    background: rgb(255,0,0);
}

.light-slider-container-green .slider-selection {
    background: rgb(0,200,0);
}

.light-slider-container-green .slider-handle {
    background: rgb(0,255,0);
}

.light-slider-container-blue .slider-selection {
    background: rgb(0,0,200);
}

.light-slider-container-blue .slider-handle {
    background: rgb(0,0,255);
}

.light-slider-container-intensity .slider-selection {
    background: rgb(225, 225, 225);
}

.light-slider-container-intensity .slider-handle {
    background: rgb(175, 175, 175);
}

.light-color-display {
    background: rgb(0,0,0);
    transition: background 0.1s;

    width: 80%;
    height: 2em;
    margin: 5px auto;

    border: 1px solid gray;
    border-radius: 10px;
}
