<template name="collectionSelector">
    <div class="collectionselector">
        {{#each fields}}
            {{#if notFixed}}
                {{#if isStage}}
                    <select class="collection-filter form-control" data-filter={{field}}>
                        <option value="" selected>All Stages</option>
                        {{#each getStages}}
                            <option value="{{_id}}">{{title}}</option>
                        {{/each}}
                    </select>
                {{else}}
                    <input type="text" class="collection-filter form-control" data-filter={{field}} placeholder={{field}}>
                {{/if}}
            {{/if}}
        {{/each}}
                
        <nav>
            <ul class="pagination">
                <li>
                    <a href="#" id="pageprev">
                        <span>&laquo;</span>
                    </a>
                </li>

                {{#each getPages}}
                    <li class={{activePage}}><a href="#" class="pagenum">{{this}}</a></li>
                {{/each}}
                
                <li>
                    <a href="#" id="pagenext">
                        <span>&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

        
        <ul class="list-group">
            {{#each filtered}}
                <li class="list-group-item">
                    <div class="btn-group pull-right">
                        {{#if ../altbutton}}
                            <button type="button" class="collection-alt btn btn-default" data-collection={{collectionName}} data-id={{_id}}>
                                <i class="fa fa-ellipsis-h"></i>
                            </button>
                        {{/if}}
                        
                        {{#if ../addbutton}}
                            <button type="button" class="collection-add btn btn-primary" data-collection={{collectionName}} data-id={{_id}}>
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        {{/if}}
                    </div>
                    
                    {{> Template.dynamic template=../displayTemplate}}
                </li>
            {{/each}}
        </ul>
    </div>
</template>
