<template name="collectionSelector">
    <div class="collectionselector">
        {{#each fields}}
            <input type="text" class="collection-filter form-control" data-filter={{this}} placeholder={{this}}>
        {{/each}}
        
        <ul class="list-group">
            {{#each filtered}}
                <li class="list-group-item">
                    <button type="button" class="collection-add btn btn-primary" style="float: right" data-collection={{collectionName}} data-id={{_id}}>
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    {{> Template.dynamic template=../displayTemplate}}
                </li>
            {{/each}}
        </ul>
    </div>
</template>
