<template name="collectionSelector">
    <div class="collectionselector">
        {{#each fields}}
            <input type="text" class="collection-filter form-control" data-filter={{field}} placeholder={{field}}>
        {{/each}}
                
        <nav>
            <ul class="pagination">
                <li>
                    <a href="#" id="pageprev">
                        <span>&laquo;</span>
                    </a>
                </li>

                {{#each getPages}}
                    <li class={{activePage}}><a href="#" class="pagenum">{{this}}</a></li>
                {{/each}}
                
                <li>
                    <a href="#" id="pagenext">
                        <span>&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

        
        <ul class="list-group">
            {{#each filtered}}
                <li class="list-group-item">
                    {{#if ../addbutton}}
                        <button type="button" class="collection-add btn btn-primary" style="float: right" data-collection={{collectionName}} data-id={{_id}}>
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    {{/if}}
                    
                    {{> Template.dynamic template=../displayTemplate}}
                </li>
            {{/each}}
        </ul>
    </div>
</template>
