<template name="layout">
    {{#if notFullscreen}}
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img alt="Cedar" class="navbar-image" src="/YoungCedarTree.svg">
                    </a>
                </div>
                
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                                Control <span class="caret"></span>
                            </a>
                            
                            <ul class="dropdown-menu">
                                <li class={{isActive 'set'}}><a href="/sets">Sets</a></li>
                                <li class={{isActive 'musicstand'}}><a href="/musicstand">Music Stand</a></li>
                                <li class={{isActive 'lighting/console'}}><a href="/lighting/consoles">Light Consoles</a></li>
                                <li class={{isActive 'schedule'}}><a href="/schedules">Schedules</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                                Content <span class="caret"></span>
                            </a>
                            
                            <ul class="dropdown-menu">
                                <li class={{isActive 'media'}}><a href="/media">Media</a></li>
                                <li class={{isActive 'song'}}><a href="/songs">Songs</a></li>
                                <li class={{isActive 'presentation'}}><a href="/presentations">Presentations</a></li>                                
                                <li class={{isActive 'light'}}><a href="/lighting">Lighting</a></li>
                                <li class={{isActive 'sequence'}}><a href="/sequences">Sequences</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                                Configuration <span class="caret"></span>
                            </a>
                            
                            <ul class="dropdown-menu">
                                <li class={{isActive 'minion'}}><a href="/minions">Minions</a></li>
                            </ul>
                        </li>                      
                    </ul>
                </div>
            </div>
        </nav>
    {{/if}}

    <div>
        {{> yield}}
    </div>
</template>
