<head>
    <title>Cedar</title>
    <link rel="icon" href="/YoungCedarTree.svg" sizes="any" type="image/svg+xml">
    <link rel="icon" href="/YoungCedarTree-16x16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="/YoungCedarTree-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/YoungCedarTree-64x64.png" sizes="64x64" type="image/png">
    <link rel="icon" href="/YoungCedarTree-128x128.png" sizes="128x128" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="/YoungCedarTree-128x128.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
