<template name="lightConsole">
    <div class="container">
        <h3>
            <button id="settings-toggle" class="btn btn-default pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </button>
            
            {{title}}
        </h3>
        
        <div id="settings-pane" class="collapse">
            <div class="well">
                <label>Title</label>
                <input id="title" class="form-control" value={{title}}>

                <label>Stage:</label>
                <select id="console-stage" class="form-control">
                    <option value="{{stage}}" selected>{{titleOf stage}}</option>
                    {{#each stages}}
                        <option value="{{_id}}">{{title}}</option>
                    {{/each}}
                </select>

                <label>Fade:</label>
                <input id="console-settings-fade" class="form-control" type="number" min=0 step=0.1 max=120 value={{settings.fade}}>
                <p><small>Only affects Lights and Groups, not Scenes.</small></p>

                <hr>

                <button class="btn btn-danger" id="delete-console">
                    Delete
                </button>
            </div>
        </div>

        
        <div class="row">
            {{#each panels}}
                <div class="col-xs-12 col-sm-6 col-md-3">
                    {{> lightConsolePanel}}
                </div>
            {{/each}}
        </div>
        
        <div id="add-panel" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span>
            Add Panel
        </div>
    </div>

        
    <div id="add-light-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Add Lights</h4>
                </div>
                
                <div class="modal-body">
                    {{> collectionSelector lightSelector}}
                </div>
                
                <div class="modal-footer">
                    <button class="modal-close btn btn-default">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="add-group-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Add Groups</h4>
                </div>
                
                <div class="modal-body">
                    {{> collectionSelector groupSelector}}
                </div>
                
                <div class="modal-footer">
                    <button class="modal-close btn btn-default">Close</button>
                </div>
            </div>
        </div>
    </div>
    
    <div id="add-scene-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Add Scenes</h4>
                </div>
                
                <div class="modal-body">
                    {{> collectionSelector sceneSelector}}
                </div>
                
                <div class="modal-footer">
                    <button class="modal-close btn btn-default">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>
