<template name="lightConsolePanel">
    <div class="panel panel-default">
        <div class="panel-heading">
            <button class="panel-edit-toggle btn btn-default btn-sm pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </button>
            
            <strong>{{title}}</strong>
            
            <input class="panel-title panel-edit form-control {{isHidden}}" value={{title}}>
        </div>
        
        <div class="panel-body">
            {{#each getControls}}
                <div class="btn-group btn-group-sm pull-right {{isHidden}}" role="group">
                    <button class="control-up btn btn-default">
                        <span class="glyphicon glyphicon-arrow-up"></span>
                    </button>
                    <button class="control-down btn btn-default">
                        <span class="glyphicon glyphicon-arrow-down"></span>
                    </button>
                    <button class="control-del btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
            
                {{#if light}}
                    {{#with getLight light}}
                        <h4>{{title}}</h4>
                        <div class="valueselector" data-type="light">
                            {{> valueSelector}}
                        </div>
                    {{/with}}
                {{/if}}
                
                {{#if group}}
                    {{#with getGroup group}}
                        <h4>{{title}}</h4>
                        <div class="valueselector" data-type="group">
                            {{> valueSelector}}
                        </div>
                    {{/with}}
                {{/if}}
                
                {{#if scene}}
                    {{#with getScene scene}}
                        <button class="scenebutton btn btn-default btn-lg btn-block">
                            {{title}}
                        </button>
                    {{/with}}
                {{/if}}
            {{/each}}
            
            <button class="panel-del btn btn-danger {{isHidden}}">
                Delete
            </button>

            <div class="btn-group pull-right {{isHidden}}">
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-plus"></span>
                    Add
                    <span class="caret"></span>
                </button>
                
                <ul class="dropdown-menu">
                    <li><a href="#" class="add-control add-light">Light</a></li>
                    <li><a href="#" class="add-control add-group">Group</a></li>
                    <li><a href="#" class="add-control add-scene">Scene</a></li>
                </ul>
            </div>
        </div>
    </div>
</template>
