<template name="lights">
    <div class="container">
        <h1>Lights</h1>

        {{> collectionSelector lightSelector}}

        <button class="light-add btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span>
            New Light
        </button>
    </div>
</template>

<template name="lightsListItem">
    <a class="btn btn-default pull-right" href="{{pathFor 'lightSettings' _id}}">
        <span class="glyphicon glyphicon-cog"></span>
    </a>
    <button class="light-clone btn btn-default pull-right">
        <span class="glyphicon glyphicon-duplicate"></span>
    </button>
    {{> light}}
</template>
