<template name="lightScenes">
    <div class="container">
        <h1>Scenes</h1>
        
        {{> collectionSelector sceneSelector}}
        
        <button class="scene-add btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span>
            New Scene
        </button>
    </div>
</template>

<template name="lightscenesListItem">
    <button class="scene-clone btn btn-default pull-right">
        <span class="glyphicon glyphicon-duplicate"></span>
    </button>
    <h4><a href={{pathFor 'lightSceneSettings' _id}}>{{title}}</a></h4>
</template>
