<template name="songArrangement">
    <p>
        <span class="arrangement-title">{{title}}</span>
        <input class="arrangement-title-edit hidden" value={{title}}>
    </p>
    
    <div class="well">
        <ul class="list-group">
            {{#each getOrder}}
                <li class="list-group-item">
                    <div class="btn-group btn-group-sm pull-right">
                        <button class="order-up btn btn-default">
                            <span class="glyphicon glyphicon-arrow-up"></span>
                        </button>
                        <button class="order-down btn btn-default">
                            <span class="glyphicon glyphicon-arrow-down"></span>
                        </button>
                        <button class="order-del btn btn-default">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                    {{title}}
                </li>
            {{/each}}
        </ul>
    </div>
        
    <div class="btn-group">
        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-plus"></span>
            <span class="caret"></span>
        </button>
        
        <ul class="dropdown-menu">
            {{#each sections}}
                <li><a href="#" class="order-add">{{title}}</a></li>
            {{/each}}
        </ul>
    </div>
</template>
