<template name="songDisplay">
    <h4>{{title}}</h4>
    <div class="row">
        {{#each content}}
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="song-content {{isActive}}">
                    <div class="song-content-title">{{title}}</div>
                    
                    <div class="song-content-container">
                        <div class="song-content-text">{{{getText}}}</div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</template>
