<template name="songSection">
    <p>
        <span class="section-title">{{title}}</span>
        <input class="section-title-edit hidden" value={{title}}>
    </p>

    <ul class="list-group">
        {{#each contents}}
            <li class="list-group-item">
                <button class="content-del btn btn-default btn-xs pull-right">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <textarea class="content-text form-control" rows="4">{{text}}</textarea>
                {{! TODO triggers}}
            </li>
        {{/each}}
    </ul>
    
    <button class="btn btn-primary" id="content-add">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
</template>
