<template name="songSection">
    <p>
        <span class="section-title">{{title}}</span>
        <input class="section-title-edit hidden" value={{title}}>
    </p>

    {{#each contents}}
        <div class="song-section-container">
            <textarea class="content-text form-control" rows="4">{{text}}</textarea>
            <button class="content-del btn btn-default btn-xs pull-right">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
        {{! TODO triggers}}
    {{/each}}
    
    <button class="btn btn-primary" id="content-add">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
</template>
