<template name="actionSelector">
    <div class="action-selector-modal modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Select Item</h3>
                </div>
            
                <div class="modal-body">
                    <div role="tabpanel">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#media" role="tab" data-toggle="tab">Media</a>
                            </li>
                            
                            <li role="presentation">
                                <a href="#lights" role="tab" data-toggle="tab">Lights</a>
                            </li>
                            
                            <li role="presentation">
                                <a href="#lightgroups" role="tab" data-toggle="tab">Light Groups</a>
                            </li>
                        </ul>
                    
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="media">
                                {{> collectionSelector mediaSelector}}
                            </div>
                            
                            <div role="tabpanel" class="tab-pane fade" id="lights">
                                {{> collectionSelector lightSelector}}
                            </div>

                            <div role="tabpanel" class="tab-pane fade" id="lightgroups">
                                {{> collectionSelector lightGroupSelector}}
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="action-selector-cancel btn btn-default">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</template>
