<template name="actionSelector">
    <div class="action-selector-modal modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Select Item</h4>
                </div>
            
                <div class="modal-body">
                    <div role="tabpanel">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#songs" role="tab" data-toggle="tab">Songs</a>
                            </li>

                            <li role="presentation">
                                <a href="#presentations" role="tab" data-toggle="tab">Presentations</a>
                            </li>
                            
                            <li role="presentation">
                                <a href="#media" role="tab" data-toggle="tab">Media</a>
                            </li>
                            
                            <li role="presentation">
                                <a href="#scenes" role="tab" data-toggle="tab">Scenes</a>
                            </li>
                        </ul>
                    
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="songs">
                                {{> collectionSelector songSelector}}
                            </div>

                            <div role="tabpanel" class="tab-pane fade" id="presentations">
                                {{> collectionSelector presentationSelector}}
                            </div>

                            <div role="tabpanel" class="tab-pane fade" id="media">
                                {{> collectionSelector mediaSelector}}
                            </div>
                            
                            <div role="tabpanel" class="tab-pane fade" id="scenes">
                                {{> collectionSelector sceneSelector}}
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="action-selector-cancel btn btn-default">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</template>
