<template name="actionSettings">
    <div class="well">
        {{#if set}}
            <label>Action Title</label>
            <input class="action-title form-control" value={{title}}>
        {{/if}}
        
        {{#if typeIs 'media' 'song' 'presentation' 'clear-layer'}}
            <label>Layer:</label>
            
            <select class="action-layer form-control">
                {{#each getLayers}}
                    <option value="{{this}}" {{isLayerSelected}}>{{this}}</option>
                {{/each}}
            </select>
        {{/if}}
        
        {{#if typeIs 'song'}}
            <label>Arrangement:</label>
            <select class="song-arrangement form-control">
                {{#each getSongArrangements}}
                    <option value="{{_id}}" {{isActiveArrangement}}>{{title}}</option>
                {{/each}}
            </select>
            
            <label>Key:</label>
            <select class="song-key form-control">
                {{#each getSongKeys}}
                    <option value="{{this}}" {{isSongKeySelected this}}>{{this}}</option>
                {{/each}}
            </select>
        {{/if}}
    
        {{#if set}}
            <h4>Triggers</h4>
            
            <ul class="list-group">
                {{#each triggers}}
                    <li class="list-group-item">
                        <button class="trigger-del btn btn-default pull-right">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        
                        {{> setAction}}
                    </li>
                {{/each}}
            </ul>
            
            <button class="trigger-add btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span>
                Add Trigger
            </button>

            <hr>
            
            <button class="action-del btn btn-danger">
                Delete
            </button>
        {{/if}}
    </div>
</template>
