<template name="actionSettings">
    <div class="well">
        {{#if set}}
            <label>Action Title</label>
            <input class="action-title form-control" value={{title}}>
        {{/if}}
        
        {{#if typeIs 'media' 'playlist' 'song' 'presentation' 'clear-layer' 'timer'}}
            <label>Layer:</label>
            
            <select class="action-layer form-control">
                {{#each getLayers}}
                    <option value="{{this}}" {{isLayerSelected}}>{{this}}</option>
                {{/each}}
            </select>
        {{/if}}
        
        {{#if typeIs 'media' 'playlist'}}
            <label>Fade Length</label>
            <input type="number" class="setting form-control" data-setting="media_fade" min=0 max=5 step=0.05 value={{getSetting 'media_fade'}}>

            <label>Preserve Aspect Ratio:</label>
            <select class="setting form-control" data-setting="media_preserve_aspect">
                <option value="yes" {{isSelected 'media_preserve_aspect' 'yes'}}>Yes (scale to fit)</option>
                <option value="no" {{isSelected 'media_preserve_aspect' 'no'}}>No (stretch to fit)</option>
            </select>
            
            <label>Loop</label>
            <select class="setting form-control" data-setting="media_loop">
                <option value="yes" {{isSelected 'media_loop' 'yes'}}>Yes</option>
                <option value="no" {{isSelected 'media_loop' 'no'}}>No</option>
            </select>
        {{/if}}
        
        {{#if typeIs 'playlist'}}
            <label>Playlist Order</label>
            <select class="setting form-control" data-setting="playlist_order">
                <option value="normal" {{isSelected 'playlist_order' 'normal'}}>Normal</option>
                <option value="random" {{isSelected 'playlist_order' 'random'}}>Random</option>
            </select>
            
            <label>Image Display Length</label>
            <input type="number" class="setting form-control" data-setting="playlist_image_length"
                min=0 max=60 step=1 value={{getSetting 'playlist_image_length'}}>
        {{/if}}
        
        {{#if typeIs 'song'}}
            <label>Fade Length</label>
            <input type="number" class="setting form-control" data-setting="songs_fade" min=0 max=5 step=0.05 value={{getSetting 'songs_fade'}}>

            <label>Arrangement:</label>
            <select class="song-arrangement form-control">
                {{#each getSongArrangements}}
                    <option value="{{_id}}" {{isActiveArrangement}}>{{title}}</option>
                {{/each}}
            </select>
            
            <label>Key:</label>
            <select class="song-key form-control">
                {{#each getSongKeys}}
                    <option value="{{this}}" {{isSongKeySelected this}}>{{this}}</option>
                {{/each}}
            </select>
        {{/if}}
        
        {{#if typeIs 'presentation'}}
            <label>Fade Length</label>
            <input type="number" class="setting form-control" data-setting="presentations_fade" min=0 max=5 step=0.05 value={{getSetting 'presentations_fade'}}>
        {{/if}}
        
        {{#if typeIs 'timer'}}
            <label>Timer Type:</label>
            <select class="setting form-control" data-setting="timer_type">
                <option value="countdown" {{isSelected 'countdown'}}>Countdown</option>
                <option value="startAt" {{isSelected 'startAt'}}>Start At</option>
                <option value="endAt" {{isSelected 'endAt'}}>End At</option>
            </select>
            
            <label>Time (hours:minutes:seconds):</label>
            <div class="form-inline">
                <input type="number" size=2 min=0 max=24 class="setting form-control" data-setting="timer_time.hours" value={{getSetting 'timer_time' 'hours'}}>:
                <input type="number" size=2 min=0 max=60 class="setting form-control" data-setting="timer_time.minutes" value={{getSetting 'timer_time' 'minutes'}}>:
                <input type="number" size=2 min=0 max=60 class="setting form-control" data-setting="timer_time.seconds" value={{getSetting 'timer_time' 'seconds'}}>
            </div>
        {{/if}}
            
        {{#if set}}
            <h4>Triggers</h4>
            
            <ul class="list-group">
                {{#each triggers}}
                    <li class="list-group-item">
                        <button class="trigger-del btn btn-default pull-right">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        
                        {{> setAction}}
                    </li>
                {{/each}}
            </ul>
            
            <button class="trigger-add btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span>
                Add Trigger
            </button>

            <hr>
            
            <button class="action-del btn btn-danger">
                Delete
            </button>
        {{/if}}
    </div>
</template>
