<template name="actionDisplay">
    {{#if actionType 'media'}}
        {{#with getMedia}}
            <div class="media">
                {{> mediaItem}}
            </div>
        {{/with}}
    {{/if}}
    
    {{#if actionType 'playlist'}}
        {{#with getPlaylist}}
            <div class="media">
                {{> mediaPlaylist}}
            </div>
        {{/with}}
    {{/if}}
    
    {{#if actionType 'light'}}
        {{#with getLight}}
            {{> light}}
        {{/with}}
    {{/if}}
    
    {{#if actionType 'lightgroup'}}
        {{#with getLightGroup}}
            {{> lightGroup}}
        {{/with}}
    {{/if}}
    
    {{#if actionType 'lightscene'}}
        {{#with getLightScene}}
            {{> lightScene}}
        {{/with}}
    {{/if}}
    
    {{#if actionType 'song'}}
        {{#with getSong}}
            {{> songDisplay}}
        {{/with}}
    {{/if}}
    
    {{#if actionType 'presentation'}}
        {{#with getPresentation}}
            {{> presentationDisplay}}
        {{/with}}
    {{/if}}

    {{#if actionType 'presentationslide'}}
        <h4>{{defaulttitle}}</h4>
    {{/if}}
    
    {{#if actionType 'sequence'}}
        {{#with getSequence}}
            {{> sequence}}
        {{/with}}
    {{/if}}
    
    {{#if actionType 'clear-layer'}}
        {{> specialClearLayer}}
    {{/if}}
    
    {{#if actionType 'clear-channel'}}
        {{> specialClearChannel}}
    {{/if}}
    
    {{#if actionType 'timer'}}
        {{> specialTimer}}
    {{/if}}
    
    {{#if actionType 'camera'}}
        {{> specialCamera}}
    {{/if}}
    
    {{#if actionType 'custom'}}
        {{> specialCustom}}
    {{/if}}
</template>
