<template name="setAction">
    <div class="btn-group-vertical btn-group-sm pull-right" role="group">
        <a class="settings-button btn btn-default" href={{pathFor 'actionSettings' _id}}>
            <span class="glyphicon glyphicon-cog"></span>
        </a>
        <button type="button" class="action-move btn btn-default">
            <span class="glyphicon glyphicon-sort"></span>
        </button>
    </div>

    {{#if actionType 'media'}}
        {{#with getMedia}}            
            <div class="media {{isActive}}">
                {{> mediaItem}}
            </div>
        {{/with}}
    {{/if}}
    
    {{#if actionType 'light'}}
        {{#with getLight}}
            {{> light}}
        {{/with}}
    {{/if}}
    
    {{#if actionType 'lightgroup'}}
        {{#with getLightGroup}}
            {{> lightGroup}}
        {{/with}}
    {{/if}}
</template>
