<template name="set">
    <div class="container-fluid">
        <h3>
            {{title}}
            <button id="settings-toggle" class="btn btn-default pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </button>
        </h3>

        <p><small>Stage: {{stageTitle stage}}</small></p>
        
        <div id="set-settings" class="collapse">
            <div class="well">
                <label>Title:</label>
                <input class="set-title form-control" type="text" value={{title}}>

                <label>Stage:</label>
                <select class="set-stage form-control">
                    <option value="{{stage}}" selected>{{stageTitle stage}}</option>
                    {{#each stages}}
                        <option value="{{_id}}">{{title}}</option>
                    {{/each}}
                </select>
                
                <p><b>Set Times:</b></p>
                <ul class="list-group">
                    {{#each settings.times}}
                        <li class="list-group-item form-inline">
                            <button class="set-time-del btn btn-danger pull-right">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                            
                            {{> setTime}}
                        </li>
                    {{/each}}
                </ul>
                
                <button class="set-time-add btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                
                <br>
                <hr>
                
                <button id="set-delete" class="btn btn-danger">Delete</button>
            </div>
        </div>

        <div class="row row-equal">
            <div id="sidebar-container" class="col-md-3 col-lg-2">
                {{> setSidebar}}
            </div>
            
            <div class="col-xs-12 col-md-9 col-lg-10">
                <div>
                    <ul class="list-group">
                        {{#each actions}}
                            <li id="act-{{_id}}" class="set-action list-group-item {{isActive}}" data-actionid={{_id}}>
                                {{> setAction}}
                            </li>
                        {{/each}}
                    </ul>
                    
                    <button type="button" class="set-add-item btn btn-primary">
                        <span class="glyphicon glyphicon-plus"></span> Add Item
                    </button>
                </div>
            </div>
        </div>
        
        {{> actionSelector}}
                
        <div id="delete-confirm-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Confirm Delete</h4>
                    </div>
                    
                    <div class="modal-body">
                        <div class="alert alert-danger"><p>The set <b>"{{title}}"</b> will be permanently deleted.</p></div>
                    </div>
                    
                    <div class="modal-footer">
                        <button id="set-delete-cancel" class="btn btn-default pull-right">Cancel</button>
                        <button id="set-delete-confirm" class="btn btn-danger pull-left">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
