<template name="mediaItem">
    <div class="media-left">
        {{#if thumbnail}}
            <img class="media-object" src="/media/static/{{thumbnail}}" style="width: 64px; height: 64px">
        {{/if}}
    </div>
    <div class="media-body">
        <h4 class="media-heading">
            {{title}}
            {{#if new}}
                <span class="label label-info">New</span>
            {{/if}}
        </h4>

        <p><small>
            {{type}}

            {{#if typeIs 'video' 'audio'}}
                -
                {{getLength}}
            {{/if}}

            {{#each tags}}
                <span class="media-tag label label-default">
                    {{this}}
                </span>
            {{/each}}
        </small></p>
    </div>
</template>
