<template name="mediaSettings">
    <div class="container">
        <h3>Media Settings</h3>
        
        {{#if typeIs 'video'}}
            <video src={{mediaPath}} class="img-responsive center-block" controls></video>
        {{/if}}
        
        {{#if typeIs 'audio'}}
            <audio src={{mediaPath}} class="center-block" controls></audio>
        {{/if}}
        
        {{#if typeIs 'image'}}
            <img src={{mediaPath}} class="img-responsive center-block">
        {{/if}}
        
        <br>
        
        <label>Title:</label>
        <input class="media-title form-control" value={{title}}>
        
        <p><small>Filename: {{location}}</small></p>
        
        {{#if typeIs 'audio' 'video'}}
            <p><small>Length: {{getLength}}</small></p>
        {{/if}}
        
        <br>
        
        <label>Tags</label>
        <div class="input-group">
            <input class="tag-input form-control">
            <span class="input-group-btn">
                <button class="tag-add btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </span>
        </div>
        
        <small>Separate individual tags with commas.</small>        
        
        <div class="well">
            {{#each tags}}
                <span class="media-tag label label-default" data-tag="{{this}}">
                    {{this}}
                    <span class="glyphicon glyphicon-remove"></span>
                </span>
            {{/each}}
        </div>            
        
        <hr>
        
        <button class="media-del btn btn-danger">
            Delete
        </button>
        <a class="btn btn-default pull-right" href={{pathFor 'mediaItems'}}>
            Close
        </a>
    </div>
</template>
