<template name="mediaPlaylist">
    <div class="media-left">
        <p style="font-size: 2.5em;">
            <span class="glyphicon glyphicon-list"></span>
        </p>
    </div>
    <div class="media-body">
        <h4 class="media-heading">
            {{title}}
        </h4>

        <p><small>
            {{#each tags}}
                <span class="media-tag label label-default">
                    {{this}}
                </span>
            {{/each}}
        </small></p>
    </div>
</template>
