<template name="mediaPlaylistSettings">
    <div class="container">
        <h3>
            <button id="settings-toggle" class="btn btn-default pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </button>
            
            {{title}}
        </h3>
        
        <div id="settings-pane" class="collapse">
            <div class="well">
                <label>Title</label>
                <input id="title" class="form-control" value={{title}}>
            </div>
            
            <hr>
            
            <button id="delete" class="btn btn-danger">
                Delete Playlist
            </button>
        </div>
        
        <ul class="list-group">
            {{#each getContents}}
                <li class="list-group-item">
                    <div class="btn-group pull-right">
                        <button class="item-up btn btn-default">
                            <span class="glyphicon glyphicon-arrow-up"></span>
                        </button>
                        <button class="item-down btn btn-default">
                            <span class="glyphicon glyphicon-arrow-down"></span>
                        </button>
                        <button class="item-del btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                    
                    <div class="media">
                        {{> mediaItem}}
                    </div>
                </li>
            {{/each}}
        </ul>
        
        <button id="add-item" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span>
            Add Item
        </button>
    </div>
    
    <div id="media-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Add Media Item</h4>
                </div>
                
                <div class="modal-body">
                    {{> collectionSelector mediaSelector}}
                </div>
                
                <div class="modal-footer">
                    <button class="modal-close btn btn-default">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>
