.navbar-image {
    height: 100%;
}

body {
    background: url('/YoungCedarTreeGrey.svg') bottom left no-repeat fixed;
    background-size: auto 75%;
    position: relative; /* Required for scrollspy to work */
}
