<template name="streamingMix">
    <div class="row">
        <div class="col-xs-8">
            <div class="mix-video-container">
                <video id="mix-video" autoplay></video>
            </div>
        </div>
        
        <div class="col-xs-4">
            <div id="mix-sources-container">
                {{#each sources}}
                    {{#with getSource}}
                        {{> streamingMixSource}}
                    {{/with}}
                {{/each}}
                
                <button id="add-source" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span>
                    Add Source
                </button>
            </div>
        </div>
    </div>
    
    <div id="mix-source-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Add Source</h4>
                </div>
                
                <div class="modal-body">
                    {{> collectionSelector sourceSelector}}
                </div>
                
                <div class="modal-footer">
                    <button class="modal-close btn btn-default">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>
