<template name="streamingMixSource">
    <div class="mix-source-container {{isVideoActive}} {{isAudioActive}}">
        <p class="mix-source-title">{{title}}</p>
        <video class="mix-source-video" autoplay></video>
        
        <div class="mix-source-controls btn-group">
            <button class="mix-source-activate-video btn btn-default {{isVideoActive}}">
                <span class="glyphicon glyphicon-facetime-video"></span>
            </button>
            
            <button class="mix-source-activate-audio btn btn-default {{isAudioActive}}">
                <span class="glyphicon glyphicon-volume-down"></span>
            </button>
        </div>
    </div>
</template>
