<template name="streamingSources">
    <div class="container">
        <h3>Sources</h3>
        
        <ul class="list-group">
            {{#each sources}}
                <li class="list-group-item">
                    <h4><a href={{pathFor 'streamingSource' _id}}>{{title}}</a></h4>
                </li>
            {{/each}}
        </ul>
        
        <div class="btn-group">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Add <span class="caret"></span>
            </button>
            
            <ul class="dropdown-menu">
                <li><a id="add-webrtc" href="#">WebRTC Source</a></li>
                <li><a id="add-rtsp" href="#">RTSP Source</a></li>
                <li><a id="add-minion" href="#">Media Minion Source</a></li>
            </ul>
        </div>
    </div>
</template>
            
