.presentation-content {
    transition: box-shadow 0.25s;
        
    border: 1px solid gray;
    border-radius: 2.5px;

    background: black;
    color: white;
    font-size: 115%;
    
    border: 2px solid gray;
    border-radius: 10px;
    
    margin: 2px;
    height: 20em;
    overflow: auto;
}

.list-group-item.active .presentation-content.active {
    border: 2px solid #FFFF88;
    box-shadow: 0px 0px 16px 8px #FFFF88;
}

.fillin-controls {
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
}

.display-container s {
    border-top: 1px dotted grey;
    border-bottom: 1px dotted grey;
    text-decoration: none;
}
