.slide-edit-buttons {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
}

s {
    text-decoration: none !important;
    text-shadow: 0 0 8px #337AB7;
    border: 1px dotted #AAA;
}

.slide-editor {
    background-color: black;
    color: white;
}
