<template name="minionsettingsdisplay">
    <div class="btn-group btn-group-xs pull-left" role="group">
        <button type="button" class="add-block btn btn-default">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
        <button type="button" class="del-block btn btn-default">
            <span class="glyphicon glyphicon-minus"></span>
        </button>
    </div>

    <p>Blocks: {{numBlocks}}</p>
    
    <ul class="block-list list-group">
        {{#each settings.blocks}}
            <li class="list-group-item">
                <div class="row" data-blocknum={{blockNum this}}>
                    {{#each blockGroups}}
                        <div class="col-lg-4">
                            <h4>{{heading}}</h4>
                            <form class="form-horizontal">
                                {{#each props}}
                                    <div class="input-group">
                                        <span class="input-group-addon"><sm>{{title}}</sm></span>
                                        <input type="number" class="disp-{{prop}} disp-setting form-control" value={{get prop}}
                                         autocomplete="off" min={{min}} max={{max}} step={{step}}>
                                    </div>
                                {{/each}}
                            </form>
                        </div>
                    {{/each}}
                </div>
            </li>
        {{/each}}
    </ul>
</template>
