<template name="minion">
    <div class="minion">
        <h4>
            <a class="btn btn-default pull-right" href="{{pathFor 'minionsettings' _id}}">
                <span class="glyphicon glyphicon-cog"></span>
            </a>

            {{name}}
            
            <small>
                {{#if connected}}
                    <span class="label label-success">Connected</span>
                {{else}}
                    <span class="label label-danger">Disconnected</span>
                {{/if}}
            </small>
        </h4>
    </div>
</template>
