<template name="minionSettingsPresentations">
    <label>Font:</label>
    <input data-setting="presentations_font" class="setting form-control" value={{getSetting 'presentations_font'}}>
    
    <label>Font Size:</label>
    <input type="number" min=0 max=200 step=1 data-setting="presentations_font_size"
        class="setting form-control" value={{getSetting 'presentations_font_size'}}>

    <label>Font Weight:</label>
    <select data-setting="presentations_font_weight" class="setting form-control">
        <option value="normal" {{isSelected 'presentations_font_weight' 'normal'}}>Normal</option>
        <option value="bold" {{isSelected 'presentations_font_weight' 'bold'}}>Bold</option>
    </select>

    <label>Font Color:</label>
    {{> colorpicker classes='setting' value=(getSetting 'presentations_font_color') data-setting="presentations_font_color" format="rgb"}}

    <label>Font Outline:</label>
    <input type="number" min=0 max=10 step=1 data-setting="presentations_font_outline" class="setting form-control" value={{getSetting 'presentations_font_outline'}}>
    
    <label>Font Outline Color:</label>
    {{> colorpicker classes='setting' value=(getSetting 'presentations_font_outline_color') data-setting="presentations_font_outline_color" format="rgb"}}
    
    <label>Horizontal Text Margin:</label>
    <input type="number" min=0 max=200 step=1 data-setting="presentations_text_margin_horizontal" class="setting form-control" value={{getSetting 'presentations_text_margin_horizontal'}}>

    <label>Vertical Text Margin:</label>
    <input type="number" min=0 max=200 step=1 data-setting="presentations_text_margin_vertical" class="setting form-control" value={{getSetting 'presentations_text_margin_vertical'}}>
                            
    <label>Text Align:</label>
    <select data-setting="presentations_align_horizontal" class="setting form-control">
        <option value="left" {{isSelected 'presentations_align_horizontal' 'left'}}>Left</option>
        <option value="center" {{isSelected 'presentations_align_horizontal' 'center'}}>Center</option>
        <option value="right" {{isSelected 'presentations_align_horizontal' 'right'}}>Right</option>
    </select>
    
    <label>Vertical Text Align:</label>
    <select data-setting="presentations_align_vertical" class="setting form-control">
        <option value="top" {{isSelected 'presentations_align_vertical' 'top'}}>Top</option>
        <option value="center" {{isSelected 'presentations_align_vertical' 'center'}}>Center</option>
        <option value="bottom" {{isSelected 'presentations_align_vertical' 'bottom'}}>Bottom</option>
    </select>

    <label>Container Width:</label>
    <div class="input-group">
        <input type="number" data-setting="presentations_width" class="setting form-control"
            value={{getSetting 'presentations_width'}} min=0 max=100 step=1>
        <div class="input-group-addon">%</div>
    </div>

    <label>Container Height:</label>
    <div class="input-group">
        <input type="number" data-setting="presentations_height" class="setting form-control"
            value={{getSetting 'presentations_height'}} min=0 max=100 step=1>
        <div class="input-group-addon">%</div>
    </div> 

    <label>Horizontal Container Position:</label>
    <select data-setting="presentations_position_horizontal" class="setting form-control">
        <option value="left" {{isSelected 'presentations_position_horizontal' 'left'}}>Left</option>
        <option value="center" {{isSelected 'presentations_position_horizontal' 'center'}}>Center</option>
        <option value="right" {{isSelected 'presentations_position_horizontal' 'right'}}>Right</option>
    </select>
    
    <label>Vertical Container Position:</label>
    <select data-setting="presentations_position_vertical" class="setting form-control">
        <option value="top" {{isSelected 'presentations_position_vertical' 'top'}}>Top</option>
        <option value="center" {{isSelected 'presentations_position_vertical' 'center'}}>Center</option>
        <option value="bottom" {{isSelected 'presentations_position_vertical' 'bottom'}}>Bottom</option>
    </select>
    
    <label>Background Color:</label>
    {{> colorpicker classes='setting' value=(getSetting 'presentations_background_color') data-setting="presentations_background_color" format="rgba"}}  
</template>
