<template name="stageSettings">
    <div class="container">
        <h3>Stage Settings</h3>
    
        <label>Title:</label>
        <input id="stage-title" class="form-control" type="text" value={{title}}>
        
        <label>Display Layers:</label>
        <ul class="list-group">
            {{#each settings.layers}}
                <li class="list-group-item">
                    <div class="btn-group btn-group-sm pull-right">
                        <button class="layer-up btn btn-default">
                            <span class="glyphicon glyphicon-arrow-up"></span>
                        </button>
                        <button class="layer-down btn btn-default">
                            <span class="glyphicon glyphicon-arrow-down"></span>
                        </button>
                        <button class="layer-del btn btn-default">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                    <p>{{this}}</p>
                </li>
            {{/each}}
        </ul>
        
        <div class="input-group">
            <input id="add-layer-title" class="form-control" placeholder="Add Layer">
            <span class="input-group-btn">
                <button id="add-layer" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span>
                    Add Layer
                </button>
            </span>
        </div>

        <br>
        <hr>
        
        <button class="stage-settings-delete btn btn-danger">Delete</button>
        <a href={{pathFor 'minionsMenu'}} class="btn btn-default pull-right">Close</a>
    </div>

    <div id="delete-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirm Delete</h4>
                </div>
                
                <div class="modal-body">
                    <div class="alert alert-danger"><p>The stage <b>"{{title}}"</b> will be permanently deleted.</p></div>
                    <div class="alert alert-info"><p>Any minions on this stage will be moved to <b>Unassigned</b></p></div>
                </div>
                
                <div class="modal-footer">
                    <button class="stage-delete-cancel btn">Cancel</button>
                    <button class="stage-delete-confirm btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>

</template>

