<template name="stagesList">
    {{#each stages}}
        <h3>
            {{title}}
            <a href={{pathFor 'stageSettings' _id}} class="stage-settings btn btn-default pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </h3>
        
        {{> minionsList}}            

    {{/each}}
    
    <h3>Unassigned</h3>
    {{> minionsList}}

    <button class="stages-new btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span>New Stage
    </button>
    <button class="web-minion-new btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span>New Web Minion
    </button>
    
</template>
