.set-action {
    transition: background 0.25s, opacity 1s, transform 1s, box-shadow 0.25s;
    border: 1px solid rgba(200, 200, 200, 1);
    border-radius: 5px;
    padding: 5px;
    overflow: hidden;
}

.set-action.moving {
    transform: scale(1.1, 1.1);
}

.set-action.movetarget {
    opacity: 0.5;
}

.set-action.movetarget:hover {
    box-shadow: 0 0 10px blue;
}

.dragmarker {
    transition: border .5s, height .25s, background 0.25s;
    border: 0px;
    height: 1em;
    width: 90%;
}

.dragmarker.dragging {
    border: 2px dashed blue;
    height: 20px;
}    

.dragmarker.over {
    background-color: blue;
}

#control-fixed {
    position: fixed;
    z-index: 100;
    bottom: 0;
    right: 0;
    padding: 1px;
    font-size: 1em;
    border: 1px solid gray;
    border-radius: 5px;
}
