#sidebar-container {
    padding-left: 0;
    padding-right: 0;
}

#sidebar {
    position: sticky;
    top: 10px;
    width: 100%;
    height: 90vh;
    background-color: #F8F8F8;
}

@media (min-width: 992px) {
    #sidebar-toggle {
        display: none;
    }
}

@media (max-width: 992px) {
    #sidebar-toggle {
        position: fixed;
        left: 5px;
        top: 5px;
        z-index: 10;
        opacity: 0.75;
    }
    
    #sidebar {
        position: fixed;
        height: 100vh;
        left: 0;
        top: 0;
        transform: translateX(-100vw);
        transition: transform 0.5s;
        z-index: 9;
    }
    
    #sidebar.sidebar-open {
        transform: translateX(0);
    }
}

#sidebar-nav {
    overflow-y: scroll;
    height: 45%;
    
    line-height: 1.1;
    border-bottom: 1px solid black;
}

#sidebar-layers {
    overflow-y: scroll;
}

#sidebar-layers > h4 {
    overflow: hidden;
}

#sidebar-controls {
    margin-top: auto;
}
