.song-content {
    transition: box-shadow 0.25s;
    display: flex;
    align-content: center;
    justify-content: center;

    text-align: center;
    line-height: 1;
    
    border: 1px solid gray;
    border-radius: 2.5px;

    background: #FAFAFA;
    color: black;
    height: 5em;
    
    margin: 2px;
}

.list-group-item.active .song-content.active {
    box-shadow: 0px 0px 16px 8px #FFFF88;
}
